main{
    /* color: white; */
    height: 100vh;
    background-image: url(./back.jpg);
    /* background-color: black; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav{
    margin-bottom: 50px;
}

.main > div{
    padding: 1em 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.main1 span,nav li:first-of-type a{
    color: fuchsia;
}

nav li:last-of-type{
    padding: 0.5em 1.5em;
    border: 3px solid fuchsia;
}

.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main2 h2{
    color: fuchsia;
}

.sect1{
    background-color: rgb(12, 12, 41);
    height: 100vh;
    color: white;
}

.part1{
    width: 75%;
    padding: 3em 0;
    margin: auto;
    display: flex;
    gap: 2em;
}

.part1 img{
    width: 250px;
    height: 350px;
}

.part1 aside{
    display: flex;
    gap: 8em;
}

.part1 > div > p:first-of-type{
    color: fuchsia;
}

.part1 h2{
    padding-bottom: 1em;
}

.part1 h2 span{
    border-bottom: 3px solid fuchsia;
}

aside{
    border: 3px solid fuchsia;
    padding: 2em;
    margin-top: 20px;
}

aside p{
    padding-top: 10px;
}

input{
    display: block;
    margin-top: 10px;
    background-color: fuchsia;
    border: none;
    padding: 1em 2em;
    color: white;
}